
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

.title{
    align-items: center;
    text-align: center;
    border-color: red;
    border-radius: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size:x-large;
    font-weight: 1000;
    padding: 3%;
}

.subtitle{
    align-items: center;
    text-align: center;
    border-color: red;
    border-radius: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
}

.features{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    vertical-align: middle;
}

.search-feature{    
    padding: 2%;
    font-weight: 2000;
    vertical-align: middle;
}

#model{
    size:100%;
    resize:horizontal;
    border: 1%;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 4px;
    background-color: lightblue;
}

#feature-text{
    text-align: center;
    padding: 1%;
    font-weight: 2000;
    vertical-align: middle;
}

.btn-change{
    height: 50px;
    width: 100px;
    background: rgb(56, 176, 231);
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: lightblue;
}

.form-control{
    border: 3px solid lightblue;
    border-radius: 10px;
    background-color: white;
}

#rom{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

th {
    text-align: center;
}

.devicesTable {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    color: black;
    }
    .devicesTableHeaderRow {
    color: rgb(0, 183, 255);
    font-weight: bold;
    height: 50px;
    text-align: center;
    }
    .devicesTableBodyRow:nth-child(odd){background-color: rgba(128, 128, 128, 0.050);}
    #latestUserScore {
    background-color: crimson;
    }
    .devicesTableBodyRow:hover{
    background-color: darkorange;
    }
    .devicesTable tr td {
    height: 25px;
    }

